body{
    margin: 0;
    padding: 0;
    background-image: url('../img/halftone.png');
    font-family: 'Baloo Chettan', cursive;
    overflow-x: hidden;
}

/*************************** Nagłówek + Pasek nawigacyjny ***************************************/
header{
    margin: 0 0 50px 0;
    padding: 0;
    height: 30vh;
    width: 100%;
    background-image: url('../img/prism.png');
    background-repeat: repeat;
}

#navigation {
    margin: 0;
    padding: 0;
    width: 100%;
}

#navigation > #firstLine, #secondLine{
    margin: 0;
    padding: 0;
    color: rgb(236, 227, 207);
    font-size: 50px;
    font-weight: 50;
    text-shadow: rgb(39, 37, 37) 5px 5px;
}

#firstLine{
    position: absolute;
    top: 60px;
    left: 200px;
}
#secondLine{
    position: absolute;
    top: 115px;
    left: 200px;
}

#strongman{
    width: 8%;
    background-color: orangered;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50px;
}

#strongman:hover{
    cursor: pointer;
    animation: spin 1.5s infinite linear;
}

#mainlist{
    margin: 0;
    list-style: none;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 16%;
    left: 35%;
}

#mainlist > li{
    float: left;
    width: 180px;
    height: 40px;
}

#mainlist > li > a{
    display: block;
    text-align: center;
    font-size: 18px;
    text-transform: lowercase;
    text-decoration: none;
    color: orangered;
    padding: 10px 15px;
    margin: 10px 5px 1px 10px;
    border: 1px solid orangered;
    border-radius: 8px;
}
    
#mainlist > li > a:hover {
    color: rgb(236, 227, 207);
    background: orangered;
    border: 1px solid rgb(236, 227, 207);
    font-size: 20px;
}

#mainlist > li > #grafik{
    border-color: rgb(236, 227, 207);
    color: rgb(236, 227, 207);
}

#mainlist > li > #grafik:hover {
    color: rgb(236, 227, 207);
    background: orangered;
    border: 1px solid rgb(236, 227, 207);
    font-size: 20px;
}


/*********************************** Główna część ****************************************/


#link a{
    color: orangered;
    text-decoration: none;
    margin-left: 20px;
}

#container > section > h1 {
    text-align: center;
    font-size: 30px;
} 

/************************************ Grafik ****************************************/
table {
    background-color: rgb(83, 83, 87);
    padding: 10px;
    width: 1200px;
    border-collapse: collapse;
    border-radius: 8px;
    margin: 20px auto 100px auto;
}
td{
    border: 1px solid rgb(236, 227, 207);
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    width: 165px;
}

tr > td:first-child{
    color: rgb(236, 227, 207);
}

tr > td > a{
    text-decoration: none;
    color: yellow;
}

#header{
    color: rgb(236, 227, 207);

}
  
/*************************************** Stopka1 ************************************/
footer{
    width: 100%;
    height: 45vh;
    background-color: rgb(113, 113, 117);
    color: rgb(236, 227, 207);
    font-family: 'Nunito', sans-serif;
}

#contact{
    display: flex;
    justify-content: center;
}

.col{
    float: left;
    padding: 30px;
    text-align: center;
}

#socialmedia{
    clear: both;
    text-align: center;
}

#socialmedia i{
    margin-right: 30px;
}

#socialmedia a{
    text-decoration: none;
    color: rgb(236, 227, 207);
}

/*************************************** Stopka2 *************************************/

#copyright{
    height: 7vh;
    width: 100%;
    background-color: rgb(83, 83, 87);
    clear: both;
}

#copyright p{
    margin: 0;
    color: black;
    font-weight: 100;
    padding-top: 15px;
    padding-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

#copyright p a{
    text-decoration: none;
    color: black;
}

#copyright p a:hover{
    text-decoration: underline;
}

#divider{
    padding: 0 20px;
}

/**************** Przycisk 'Powrót do góry' *****************************/


#button{
  display: inline-block;
  background-color: orangered;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 5px;
  transition: .2s;
  z-index: 1;
  visibility: hidden;
  }

  #button:hover {
    cursor: pointer;
    background-color: #333;
  }

  #button:active {
    background-color: #555;
  }

  #button::after {
    content: "\f106";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: rgb(236, 227, 207);
  }

  #button.show {
    opacity: 0.7;
    visibility: visible;
  }


  /************************ Animacja ************************/


  @keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
   