body{
    margin: 0;
    padding: 0;
    background-image: url('../img/halftone.png');
    font-family: 'Baloo Chettan', cursive;
    overflow-x: hidden;
}

/*************************** Nagłówek + Pasek nawigacyjny ***************************************/
header{
    margin: 0 0 30px 0;
    padding: 0;
    height: 50vh;
    width: 100%;
    background-image: url('../img/weight-loss-2036969_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    text-align: center;
}

#h{
    width: 30%;
    background-image: url('../img/halftone.png');
    border-radius: 4px;
    border: 2px solid orangered;
    position: relative;
    top: 270px;
    left: 500px;
   
}

header > #h > h1{
    margin: 0;
    padding: 0;
}

/**************************** Główna część ****************************************/
#definition{
    width: 1100px;
    border: 2px solid orangered;
    border-radius: 4px;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 30px 200px;
}

#calculator{
    float:left;
    width: 450px;
    border: 2px solid orangered;
    border-radius: 4px;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
    margin: 0 10px 30px 260px;
}
#result{
    float:left;
    width: 450px;
    border: 2px solid orangered;
    border-radius: 4px;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
}
#finalResult{
    font-size: 30px;
    border: none;
    background-image: url('../img/halftone.png');
    font-family: 'Baloo Chettan', cursive;
    width: 440px;
}
legend{
    font-family: 'Baloo Chettan', cursive;
}

#explanation{
    clear: both;
    width: 1300px;
    border: 2px solid orangered;
    border-radius: 4px;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
    margin: 0 10px 50px 130px;
}

#weight, #height{
    border: none;
    border-radius: 4px; 
}
fieldset > button{
    border: none;
    border-radius: 4px;
    font-family: 'Baloo Chettan', cursive;
    background-color: orangered;
    padding: 5px 8px;
    cursor: pointer;
}

/***************************************  Tabela ******************************************/
table{
    padding: 15px;
}

#range > td{
    border-radius: 4px;
}
#one{
   background-color: skyblue;
}
#two{
    background-color: rgb(60, 156, 235);
}
#three{
    background-color: rgb(35, 231, 35);
}
#four{
    background-color: yellow;
}
#five{
    background-color: rgb(243, 176, 52);
}
#six{
    background-color: rgb(236, 135, 41);
}
#seven{
    background-color: red;
}
#description > td{
    font-size: 14px;
    padding: 4px;
}



/*************************************** Stopka1 ************************************/
#contact{
    width: 100%;
    height: 45vh;
    background-color: rgb(113, 113, 117);
    color: rgb(236, 227, 207);
    font-family: 'Nunito', sans-serif;
}

.col{
    float: left;
    margin-right: 50px;
    padding: 30px;
    text-align: center;
    height: 160px;
}

.col:first-child{
    margin-left: 190px;
}

#socialmedia{
    clear: both;
    text-align: center;
    position: relative;
    top: 60px;
}

#socialmedia i{
    margin-right: 30px;
}

#socialmedia a{
    text-decoration: none;
    color: rgb(236, 227, 207);
}


/*************************************** Stopka2 *************************************/

#copyright{
    height: 7vh;
    width: 100%;
    background-color: rgb(83, 83, 87);
    clear: both;
}

#copyright p{
    margin: 0;
    color: black;
    font-weight: 100;
    padding-top: 15px;
    padding-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

#copyright p a{
    text-decoration: none;
    color: black;
}

#copyright p a:hover{
    text-decoration: underline;
}

#divider{
    padding: 0 20px;
}

/**************** Przycisk 'Powrót do góry' *****************************/


#button{
  display: inline-block;
  background-color: orangered;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 5px;
  transition: .2s;
  z-index: 1;
  visibility: hidden;
  }

  #button:hover {
    cursor: pointer;
    background-color: #333;
  }

  #button:active {
    background-color: #555;
  }

  #button::after {
    content: "\f106";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: rgb(236, 227, 207);
  }

  #button.show {
    opacity: 0.7;
    visibility: visible;
  }

